.navbarCon{
    width: 92vw;
}


.navParentCon {
    background-color: #F0F0F0	;
    
}
.navParentCon li{
    font-weight: bold;
}
.navLinkCon{
    color: rgb(0,30,60);
}
.navLinkCon:hover{
    text-decoration: none;
}
@media screen and (min-width:767px) {
    .navItemsHolder li{
        font-size: 17px !important;
    }
}
